In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
gold = "csv_files/Gold.csv"
sb= "csv_files/Super_Bowl.csv"
oscar = "csv_files/oscar.csv"

#gold
gold_df = pd.read_csv(gold)
#print(gold_df.dtypes)
gold_df['Y1'] = gold_df['Date'].str[:4]
gold_df['year'] = gold_df['Y1'].str[-2:]
gold_df['year'] = gold_df.year.astype(str)
gold_df = gold_df.drop(['Date', 'Y1'], axis=1)
gold_df = gold_df.iloc[17:]
gold=gold_df[['year', 'Price']].copy()
gold.columns=['year', 'price']

#Oscar
oscar_df = pd.read_csv(oscar)
#print(oscar_df.dtypes)
oscar_df = oscar_df.iloc[4296:]
oscar_df=oscar_df.replace({'ACTOR IN A LEADING ROLE': 'ACTOR'}, regex=True)
oscar_df = oscar_df[oscar_df['category'].isin(['ACTOR'])]
oscar_df = oscar_df[oscar_df.winner == True]
oscar_df = oscar_df[oscar_df.year_ceremony != 2020]
oscar_df = oscar_df[oscar_df.year_ceremony != 2019]
oscar_df['year_ceremony'] = oscar_df['year_ceremony'].astype(str)
oscar_df['Year'] = oscar_df['year_ceremony'].str[-2:]
oscar_df['Year'] = oscar_df.Year.astype(str)
oscar=oscar_df[['Year', 'category', 'name', 'film']].copy()
oscar.columns=['year', 'category', 'winner', 'film']

#sb
sb_df = pd.read_csv(sb)
#print(sb_df.dtypes)
sb_df['Year'] = sb_df['Date'].str[-2:]
sb_df['Year'] = sb_df.Year.astype(str)
sb=sb_df[['Year', 'SB', 'Attendance', 'QB  Winner', 'Coach Winner', 'Winner', 'Winning Pts', 'QB Loser', 'Coach Loser', 'Loser', 'Losing Pts', 'MVP', 'Stadium', 'City', 'State', 'Point Difference']].copy()
sb.columns=['year', 'sb', 'attendance', 'qb_winner', 'coach_winner', 'sb_winner', 'winning_pts', 'qb_loser', 'coach_loser', 'sb_loser', 'losing_pts', 'mvp', 'stadium', 'city', 'state', 'point_difference']

In [3]:
rds_connection_string = "postgres:2311@localhost:5432/ETL_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [4]:
engine.table_names()

[]

In [5]:
gold.to_sql(name='gold', con=engine, if_exists='append', index=False)
oscar.to_sql(name='oscar', con=engine, if_exists='append', index=False)
sb.to_sql(name='sb', con=engine, if_exists='append', index=False)

In [6]:
pd.read_sql_query('select * from gold', con=engine).head(1)

  year  price
0   67  35.19

In [7]:
pd.read_sql_query('select * from oscar', con=engine).head(1)

  year category         winner                   film
0   67    ACTOR  Paul Scofield  A Man for All Seasons

In [8]:
pd.read_sql_query('select * from sb', con=engine).head()

,year,sb,attendance,qb_winner,coach_winner,sb_winner,winning_pts,qb_loser,coach_loser,sb_loser,losing_pts,mvp,stadium,city,state,point_difference
0,67,I,61946,Bart Starr,Vince Lombardi,Green Bay Packers,35,Len Dawson,Hank Stram,Kansas City Chiefs,10,Bart Starr,Memorial Coliseum,Los Angeles,California,25

In [15]:
a = "all_together.csv"
ab = pd.read_csv(a)
ab

EmptyDataError: No columns to parse from file